.button {
  padding: 1em;
  margin: 1em;
  border: 1px solid;
  font-weight: 700;
  border-radius: 0.75em;
  box-shadow: 2px 2px 6px #888;
  cursor: pointer;
}

.button[disabled] {
  box-shadow: none;
  cursor: default;
}

.confirm {
  color: #efe;
  background: rgb(0, 128, 0);
  border-color: rgb(0, 17, 0);
}
.confirm[disabled] {
  background: rgba(0, 128, 0, 0.6);
  border-color: rgba(0, 17, 0, 0.5);
}

.abort {
  color: #fee;
  background: rgb(255, 0, 0);
  border-color: rgb(139, 0, 0);
}
.abort[disabled] {
  background: rgba(255, 0, 0, 0.6);
  border-color: rgba(139, 0, 0, 0.5);
}

.cancel {
  color: #400;
  background: rgb(255, 165, 0);
  border-color: rgb(255, 69, 0);
}
.cancel[disabled] {
  background: rgba(255, 165, 0, 0.6);
  border-color: rgba(255, 69, 0, 0.5);
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.7em;
  vertical-align: middle;
}

[disabled] .icon {
  opacity: 0.75;
}
