.container {
  max-width: 800px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}


.row {
  display: flex;
  margin: 0 -1em;
}

.col {
  flex: 0 0 60%;
  width: 660%;
  padding: 1em;
}
.col:first-child {
  flex: 0 0 40%;
  width: 40%;
}
